*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
    padding-left: 50px;
    padding-top: 0px;
    font-family: cursive;
    font-size: 35px;
    color: #215797;
}

.header {
    padding: 2px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline;
    margin-right: 18px;
    text-align: right;
}

.links a {
    color: #008080;
    text-decoration: none;
    padding: 10px 18px;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
}

.links a:hover {
    /* Underline on hover */
    color: black;
    /* Change text color on hover */
    background-color: #e7eafb;
    border: 1px solid black;
    border-radius: 100px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    /* Add this line */
}

.links {
    margin-left: auto;
    /* Pushes the links to the right */

}
.tagline {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ACBBD2;
}

.tagline p {
    color: black;
    font-size: 19px;
    padding: 18px;
    width: 75%;
    margin: 0 auto;
}

.tagline h1 {
    font-size: 42px;
}

.tagline a{
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    background-color: #0F4100;
    font-weight: bolder;
    border-radius: 50px;
}
.category {
    margin: 20px;
    margin-top: 0px;
}

.category table {
    border-collapse: collapse;
    width: 100%;
}

.category table td {
    width: 33.33%;
    padding: 30px; /* Adjusted padding */
    text-align: center;
}

.category-name {
    background-color: #f1eee9;
    color: black;
    padding: 5px 0; /* Adjusted padding */
    border-radius: 5px;
    margin-top: 5px; /* Adjusted margin */
}

.category-name a {
    color: black;
}

.category table td a {
    display: block;
    text-decoration: none;
    position: relative;
}

.category table td a img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding-bottom: 5px; /* Adjusted padding */
}

.category table td:hover {
    transform: scale(1.1);
}
/* Custom scrollbar track */
::-webkit-scrollbar-track {
    background-color: #eff3ff;
    /* Background color of the track */
}

/* Custom scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #738DC0;
    /* Color of the thumb */
    border-radius: 10px;
    /* Rounded corners */
}

/* Custom scrollbar button (arrows) */
::-webkit-scrollbar-button {
    display: none;
}

/* Adjust scrollbar dimensions */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
    height: 10px;
    /* Height of the scrollbar */
}
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 1000;
}
#scroll-to-top:hover {
    background-color: #0056b3;
}
