.logo {
    padding-left: 50px;
    padding-top: 0px;
    font-family: cursive;
    font-size: 35px;
    color: #215797;
}

.header {
    padding: 2px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline;
    margin-right: 18px;
    text-align: right;
}

.links a {
    color: #008080;
    text-decoration: none;
    padding: 10px 18px;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
}

.links a:hover {
    /* Underline on hover */
    color: black;
    /* Change text color on hover */
    background-color: #e7eafb;
    border: 1px solid black;
    border-radius: 100px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    /* Add this line */
}

.links {
    margin-left: auto;
    /* Pushes the links to the right */

}

.tagline {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ACBBD2;
}

.tagline p {
    color: black;
    font-size: 19px;
    padding: 18px;
    width: 75%;
    margin: 0 auto;
}

.tagline h1 {
    font-size: 42px;
}

.subscription-options {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subscription-options table {
    width: 100%;
    border-collapse: collapse;
}

.subscription-options td {
    border-bottom: none;
    padding: 30px;
    text-align: center;
}

.subscription-options td:first-child {
    text-align: left;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.subscription-options tr:nth-child(even) {
    background-color: #f1eee9;
}

.purchase-button {
    display: inline-block;
    background-color: #0F4100;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}

.purchase-button:hover {
    /* Underline on hover */
    color: black;
    /* Change text color on hover */
    background-color: #e7eafb;
    border: 1px solid black;
    border-radius: 100px;
}
/* Custom scrollbar track */
::-webkit-scrollbar-track {
    background-color: #eff3ff;
    /* Background color of the track */
}

/* Custom scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #738DC0;
    /* Color of the thumb */
    border-radius: 10px;
    /* Rounded corners */
}

/* Custom scrollbar button (arrows) */
::-webkit-scrollbar-button {
    display: none;
}

/* Adjust scrollbar dimensions */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
    height: 10px;
    /* Height of the scrollbar */
}
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 1000;
}
#scroll-to-top:hover {
    background-color: #0056b3;
}
